body{
	padding-top: 51px;
}
.nav-item{
	margin-left: 10px;
	margin-right: 10px;
}
.imagebox{
	height: 300px; 
}
.pending-order{
	border-style: solid;
	border-width: 2px;
	border-color: red; 
	border-radius: 10px;
}