<table class="table" ng-if="getProducts().length>0">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Count</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="p in getProducts()">
        <td>{{p.ProductName}}</td>
        <td>{{p.ProductPrice}}</td>
        <td>{{p.count}}</td>
        <td><button ng-click="addProduct(p)">+</button><button ng-click="deleteProduct(p)">-</button></td>
      </tr>
    </tbody>
  </table>
<h2 ng-if="getProducts().length<=0">Your shopping cart is still empty :/</h2>
<button class="btn" style="float:right;" ng-if="getProducts().length>0 && authenticated == true"  ng-click="sendRequest()">BUY</button>
<a  ng-href="#/login"><button class="btn" style="float:right;" ng-if="getProducts().length>0 && authenticated == false" >Login to buy</button></a>
<a ng-href="#/home">Go Home</a>
